:root {
    --background-color: #121212;
    --layer-1: black;
    --layer-2: rgba(255, 255, 255, 0.10);
    --border-radius: 20px;
    /* --border: 1px solid rgba(255, 255, 255, 0.10); */
    --border: none;
    --text-color: white;
    --primary-color: #bb86fc;
    --warn-color: #cf6679;
    /* --primary-border: 1px solid #004080; */
    --primary-border: none;
    --link-color: lightskyblue;
    --box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.2);
}

.light-theme {
    --layer-1: #e7e7e7;
    --layer-2: rgba(255, 255, 255, 0.80);
    --border-radius: 16px;
    /* --border: 1px solid rgba(255, 255, 255, 0.30); */
    --border: none;
    --text-color: black;
    --primary-color: #6200ee;
    --warn-color: #b00020;
    /* --primary-border: 1px solid #005bb6; */
    --primary-border: none;
    --link-color: darkblue;
}

body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-frame {
    width: 400px;
    height: 800px;
    border-radius: var(--border-radius);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--layer-2);
    overflow-y: auto;
    background-color: var(--layer-1);
}

.app-frame::-webkit-scrollbar {
    display: none;
}

.app-content {
    padding: 16px 16px 0px 16px;
}

.inflection-table {
    background-color: var(--layer-2);
    border-collapse: collapse;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    border-radius: var(--border-radius);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

.navbar {
    /* background-color: var(--layer-2); */
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.search-panel {
    margin-bottom: 50px;
}

.search-bar {
    border-radius: var(--border-radius);
    width: 200px;
}

.search-button {
    border-radius: var(--border-radius);
}

.layer-1-element {
    padding: 16px;
    border: var(--border);
    background-color: var(--layer-2);
    color: var(--text-color);
    box-shadow: var(--box-shadow);
}

.center-text {
    text-align: center;
}

button, form {
    display: inline;
}

.style-button {
    border: var(--primary-border);
    border-radius: 30px;
}

.warn-color {
    background-color: var(--warn-color);
}

.icon {
    width: 3em;
    height: 3em;
}

.icon-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    display: inline;
    align-items: center;
    color: var(--text-color);
}

.button-image {
    height: 1.5rem;
}

.image-button {
    background: none;
    border: none;
    cursor: pointer;
}