:root {
    --background-color: black;
    --layer-1: #222531;
    --layer-2: #323645;
    --border-radius: 20px;
    /* --border: 1px solid rgba(255, 255, 255, 0.10); */
    --border: none;
    --text-color: white;
    --primary-color: #bb86fc;
    --warn-color: #cf6679;
    /* --primary-border: 1px solid #004080; */
    --primary-border: none;
    --link-color: lightskyblue;
    --box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.15);
    --icon-color: white;
}

.light-theme {
    --layer-1: #e5e7f6;
    --layer-2: white;
    --border-radius: 16px;
    /* --border: 1px solid rgba(255, 255, 255, 0.30); */
    --border: none;
    --text-color: black;
    --primary-color: #6200ee;
    --warn-color: #b00020;
    /* --primary-border: 1px solid #005bb6; */
    --primary-border: none;
    --link-color: darkblue;
    --icon-color: black;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-frame {
    width: 400px;
    height: 800px;
    border-radius: 40px;;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--layer-2);
    background-color: var(--layer-1);
    position: relative;
}

.app-content::-webkit-scrollbar {
    display: none;
}

.app-content {
    /* height: calc(100% - 80px); */
    padding: 0px 16px 80px 16px;
    overflow-y: auto;
}

.inflection-table {
    background-color: var(--layer-2);
    border-collapse: collapse;
    font-family: "Open Sans", sans-serif;
    font-size: 0.9em;
    width: 100%;
    border-radius: var(--border-radius);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

.navbar {
    background-color: var(--layer-2);
    display: flex;
    justify-content: space-around;
    border-radius: 35px;
    bottom: 0px;
    position: absolute;
    width: 388px;
    height: 72px;
    margin: 6px;
    box-shadow: var(--box-shadow);
}

.title {
    font-size: 2.5em;
    font-family: Merriweather, serif;
    text-align: center;
}

.title-panel, .search-panel, .learn-panel {
    margin-top: 50px;
    margin-bottom: 10px;
}

.search-wrapper {
    width: 100%;
    display: flex;
}

.search-form {
    flex: 1;
    display: flex;
}

.search-input {
    border-radius: 15px;
    flex: 1;
    /* width: 200px; */
}

.answer-input {
    border-radius: 15px;
    flex: 1;
    background-color: var(--layer-1)!important;
}

.search-button, .clear-button {
    border-radius: 15px;
    margin-left: 6px;
}

.layer-1-element {
    padding: 16px;
    border: var(--border);
    background-color: var(--layer-2);
    color: var(--text-color);
    box-shadow: var(--box-shadow);
}

.center-text {
    text-align: center;
}

button, form {
    display: inline;
}

.style-button {
    border: var(--primary-border);
    border-radius: 30px;
}

.warn-color {
    background-color: var(--warn-color);
}

.icon {
    width: 3em;
    height: 3em;
}

.icon-button {
    background: none;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
    display: inline;
    align-items: center;
    color: var(--icon-color);
}

.icon-button-label {
    margin: 0px;
    font-size: 0.6em;
    color: gray;
}

.button-image {
    height: 1.5rem;
}

.image-button {
    background: none;
    border: none;
    cursor: pointer;
}

.category-div {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}