:root {
    --layer-0: #181920;
    --layer-1: #24252b;
    --layer-1-hover: #303136;
    --layer-1-active: #47484c;
    --layer-2: #34353a;

    --border-radius: 16px;
    --border: none;
    --primary-border: none;
    --box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.15);

    --text-color: white;
    --subtle-text-color: #b3b3b3;
    --icon-color: white;
    
    --primary-color: #bb86fc;
    --warn-color: #cf6679;
    --link-color: lightskyblue;

    --red-color: #d1757d;
    --purple-color: #c087ea;
    --yellow-color: #e4c542;
    --green-color: #66cdbe;
    --blue-color: #5c8bd7;
    --inactive-color: gray;
}

.light-theme {
    --layer-0: #e5e7f6;
    --layer-1: white;
    --layer-1-hover: #ccd2e6;
    --layer-1-active: #adb6d1;
    --layer-2: #ececec;

    --border-radius: 16px;
    --border: none;
    --primary-border: none;
    --box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.25);

    --text-color: black;
    --subtle-text-color: #494949;
    --icon-color: black;

    --primary-color: #6200ee;
    --warn-color: #b00020;
    --link-color: darkblue;

    --red-color: #d1757d;
    --purple-color: #c087ea;
    --yellow-color: #e4c542;
    --green-color: #66cdbe;
    --blue-color: #5c8bd7;
}

.black-theme {
    --layer-0: black;
    --layer-1: #181920;
    --layer-1-hover: #26272c;
    --layer-1-active: #36373d;
    --layer-2: #23242c;

    --border-radius: 16px;
    --border: none;
    --primary-border: none;
    --box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.15);

    --text-color: white;
    --icon-color: white;
    
    --primary-color: #bb86fc;
    --warn-color: #cf6679;
    --link-color: lightskyblue;

    --red-color: #d1757d;
    --purple-color: #c087ea;
    --yellow-color: #e4c542;
    --green-color: #66cdbe;
    --blue-color: #5c8bd7;
}

.saber-theme {
    --layer-0: black;
    --layer-1: #181920;
    --layer-1-hover: #26272c;
    --layer-1-active: #36373d;
    --layer-2: #23242c;

    --border-radius: 16px;
    --border: 1px solid #323338;
    --primary-border: none;
    --box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.15);

    --text-color: white;
    --icon-color: white;
    
    --primary-color: #bb86fc;
    --warn-color: #cf6679;
    --link-color: lightskyblue;

    --red-color: #d1757d;
    --purple-color: #c087ea;
    --yellow-color: #e4c542;
    --green-color: #66cdbe;
    --blue-color: #5c8bd7;
}

body {
    font-family: "Arial", sans-serif;
    background-color: rgb(66, 66, 66);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

button, form {
    display: inline;
}

hr {
    border: 1px solid var(--subtle-text-color);
}

/*CSS for the general layout of the app*/
@media screen and (min-width: 601px) {

    .app-frame {
        width: 400px;
        height: 800px;
        border-radius: 32px;;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        border: 2px solid var(--layer-1);
        background-color: var(--layer-0);
        position: relative;
    }

}

.app-content::-webkit-scrollbar {
    display: none;
}

.app-content {
    padding: 16px 16px 80px 16px;
    overflow-y: auto;
}

.navbar {
    background-color: var(--layer-1);
    display: flex;
    justify-content: space-around;
    bottom: 0px;
    position: absolute;
    width: 100%;
    height: 60px;
    box-shadow: var(--box-shadow);
}

/*CSS for the overarching design of the app elements*/

h1 {
    margin-top: 16px;
    margin-bottom: 32px;
    font-size: 2em;
    text-align: center;
}

h2 {
    font-size: 1.1em;
    font-weight: normal;
    color: var(--subtle-text-color);
}

.page-section {

}

.saber-panel-default {
    padding: 16px;
    border: var(--border);
    background-color: var(--layer-1);
    color: var(--text-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    margin-bottom: 16px;
}

.saber-button-default {
    padding: 16px;
    border: var(--border);
    background-color: var(--layer-1);
    color: var(--text-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.saber-tab-button-default {
    padding: 10px;
    border: var(--border);
    background-color: var(--layer-1);
    color: var(--text-color);
    box-shadow: var(--box-shadow);
    border-radius: calc(var(--border-radius) - 4px);
}

.saber-tab-button-default:hover, .saber-tab-button-default:active {
    background-color: var(--layer-1-hover);
}

.saber-tab-button-default-active {
    padding: 10px;
    border: var(--border);
    background-color: var(--layer-1-active);
    color: var(--text-color);
    box-shadow: var(--box-shadow);
    border-radius: calc(var(--border-radius) - 4px);
}

.saber-input-default {
    padding: 16px;
    border: var(--border);
    background-color: var(--layer-1);
    color: var(--text-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.saber-color-default {
    background-color: var(--layer-1);
    color: var(--text-color);
}

.saber-color-confirm {
    background-color: var(--green-color);
    color: black;
}

.saber-color-warn {
    background-color: var(--yellow-color);
    color: black;
}

.saber-color-error {
    background-color: var(--red-color);
    color: black;
}

.saber-color-info {
    background-color: var(--blue-color);
    color: black;
}

.saber-border-confirm {
    border: 2px solid var(--green-color);
}

.saber-border-warn {
    border: 2px solid var(--yellow-color);
}

.saber-border-error {
    border: 2px solid var(--red-color);
}

.saber-border-info {
    border: 2px solid var(--blue-color);
}

.center-text {
    text-align: center;
}

.disclaimer {
    font-size: 0.9em;
    padding: 8px;
}

/*CSS for icon and image buttons*/

.icon-button {
    background: none;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
    display: inline;
    align-items: center;
    color: var(--icon-color);
}

.icon-button-label {
    margin: 0px;
    font-size: 0.6em;
    color: var(--subtle-text-color);
}

.image-button {
    height: 1rem;
}

.image-button {
    background: none;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 600px) {


    html, body {
        margin: 0px!important;
        height: 100%;
    }

    .app-frame {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        border: none;
        background-color: var(--layer-0);
        position: relative;
    }

    .navbar {
        position: fixed;
    }
}